/* Styles de base pour le corps et les conteneurs */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group, .input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"],
input[type="password"],
input[type="submit"],
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the element's width and height */
}

input[type="submit"],
button {
    background-color: #5c67f2;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
button:hover {
    background-color: #4a54e1;
}

/* Styles spécifiques pour les liens dans les boutons */
button a {
    color: white; /* Assure que le texte du lien est blanc */
    text-decoration: none; /* Supprime le soulignement par défaut des liens */
    display: block; /* Fait en sorte que le lien occupe toute la surface du bouton */
}

button a:hover {
    color: #ddd; /* Couleur du lien au survol */
}
